pandas
matplotlib
networkx   
seaborn
pyvis
torch==2.5.0 
torchvision==0.20.0 
torchaudio==2.5.0
torch_geometric==2.6.1
xgboost
plotly
nbformat
transformers
huggingface_hub
accelerate
bitsandbytes
gradio
ipykernel
causal-learn
causalml
